@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../design-system.tokens.css';

html, body, #__next {
  height: 100%;
}

body {
  font-family: var(--font-family-base);
  background: var(--color-bg);
  color: var(--color-muted);
}
